<?xml version="1.0" encoding="utf-8"?>
<!--SIPRED  -->
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Catastro-20160330074943.mdf;Initial Catalog=aspnet-Catastro-20160330074943;Integrated Security=True" providerName="System.Data.SqlClient" /-->
    <!--<add name="PredialEntities" connectionString="metadata=res://*/Predial.csdl|res://*/Predial.ssdl|res://*/Predial.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=Predial;User Id=usrPredial;Password=usrPredial;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PredialEntities" connectionString="metadata=res://*/Predial.csdl|res://*/Predial.ssdl|res://*/Predial.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SGVHBNE\SQLEXPRESS;initial catalog=sipredProd;User Id=sa;Password=root;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="connectionString" connectionString="Data Source=DESKTOP-SGVHBNE\SQLEXPRESS;Initial Catalog=sipredProd;User ID=sa;Password=root;Enlist=False; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="PredialEntities" connectionString="metadata=res://*/Predial.csdl|res://*/Predial.ssdl|res://*/Predial.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SGVHBNE\SQLEXPRESS;initial catalog=sipredProd;User Id=sa;Password=root;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="connectionString" connectionString="Data Source=DESKTOP-SGVHBNE\SQLEXPRESS;Initial Catalog=sipredProd;User ID=sa;Password=root;Enlist=False; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="PredialEntities" connectionString="metadata=res://*/Predial.csdl|res://*/Predial.ssdl|res://*/Predial.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVIDOR3\SQLEXPRESS;initial catalog=sipredProd;User Id=sa;Password=root;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="connectionString" connectionString="Data Source=SERVIDOR3\SQLEXPRESS;Initial Catalog=sipredProd;User ID=sa;Password=root;Enlist=False; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="PredialEntities" connectionString="metadata=res://*/Predial.csdl|res://*/Predial.ssdl|res://*/Predial.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SGVHBNE\SQLEXPRESS;initial catalog=sipredProd;User Id=sa;Password=root;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="connectionString" connectionString="Data Source=DESKTOP-SGVHBNE\SQLEXPRESS;Initial Catalog=sipredProd;User ID=sa;Password=root;Enlist=False; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

    <!--<add name="PredialEntities" connectionString="metadata=res://*/Predial.csdl|res://*/Predial.ssdl|res://*/Predial.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVIDOR3\SQLEXPRESS;initial catalog=sipredProd;User Id=sa;Password=root;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="connectionString" connectionString="Data Source=SERVIDOR3\SQLEXPRESS;Initial Catalog=sipredProd;User ID=sa;Password=root;Enlist=False; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="RutaRecibos" value="C:\sdRecibos\" />
    <add key="usuarioFactura" value="WRE180429TM6" />
    <add key="passwordFactura" value="12345678a" />
    <add key="productivoFactura" value="false" />
    <add key="FechaFact33" value="20/04/2022" />
    <add key="proveedorFactura" value="TimbradorXpress" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <globalization culture="es-MX" uiCulture="es-MX" />
    <!--<authentication mode="None" />-->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="300" protection="All" path="/" />
    </authentication>
    <!--<authorization>
      <deny users ="?" />     
    </authorization>-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="20480" executionTimeout="180" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add verb="*" name="ReportViewer" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <!--<modules>
      <remove name="FormsAuthentication" />
    </modules>-->
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ChilkatDotNet45" publicKeyToken="EB5FC1FC52EF09BD" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.5.0.90" newVersion="9.5.0.90" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicioTimbradoWSBinding">
          <security mode="Transport" />
        </binding>
        <binding name="ServicioTimbradoWSBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://dev.timbradorxpress.mx:443/ws/servicio.do"
        binding="basicHttpBinding" bindingConfiguration="ServicioTimbradoWSBinding"
        contract="ServiceFacturaXpress.ServicioTimbradoWSPortType" name="ServicioTimbradoWSPort" />
    </client>
  </system.serviceModel>
</configuration>